# Logto Configuration
LOGTO_ENDPOINT=https://lto.martinpetr.dev/
LOGTO_APP_ID=
LOGTO_APP_SECRET=
LOGTO_COOKIE_SECRET=
APP_URL=http://localhost:3000
LOGTO_API_RESOURCE=

# Timescale configuration
POSTGRES_USER=dbuser
POSTGRES_PASSWORD=dbuserpwd
POSTGRES_DB=iwdil

# Backend configuration
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
REDIS_PASSWORD=redisuserpwd

# MinIO configuration
MINIO_ENDPOINT=http://minio:9000
MINIO_EXTERNAL_ENDPOINT=http://localhost:9100
MINIO_ROOT_USER: "minioadmin"
MINIO_ROOT_PASSWORD: "minioadminpwd"
# MINIO_BROWSER_REDIRECT_URL: "https://localhost/service/minio/"
# MINIO_CONSOLE_SUBPATH: "/service/minio/"

# Redis configuration
REDIS_ARGS="--requirepass redisuserpwd"
